/* common styling css */
.css-fg4pbf {
  background: rgb(255, 250, 250)
}
span.css-10trblm.e16nr0p30{
  text-align: center;
  font-family: Gill Sans, sans-serif;
}

.css-fg4pbf {
  text-align: center;
}

#mi-person{
border-bottom: #73AB84 solid 1px;
}
#mi-project{
  border-bottom: #73AB84 solid 1px;
  }
#mi-analysis{
    border-bottom: #73AB84 solid 1px;
    }
#mi-crew{
  border-bottom: #73AB84 solid 1px;
  }


/* button home_page an mi-analysis */

.stButton > button {
  color:#FFFFFF;
  background-color:#C60C35;
  font-size: 20px;
  height: 60px;
  width: 25%;

}

st.Button > button:hover{
  color: #FFFFFF;
  background-color: #920000;
  border-color: #920000;
  font-size: 20px;
  height: 60px;
  width:25%;

}



/* MODEL DISPLAY */

button[data-baseweb="tab"] {
  font-size: 20px;
  font-family: Gill Sans, sans-serif;
  background-color:#fffafa ;
  color: black;
  width: 100%;
}
button[data-baseweb="tab"]:hover{
  color:#F72C25;

}


/* crew display */


div.css-1v0mbdj.etr89bj1 img {
  border-radius: 80px;
}

.stMarkdown img {
  width: 30px;
  height: 30px;
}

h2[id="tabatha-wiggers"]{
  font-size: 30px;
}

h2[id="tha-s-carreira"]{
  font-size: 30px;
}

h2[id="luiza-rosalba"]{
  font-size: 30px;
}

h2[id="carlos-lima"]{
  font-size: 30px;
  word-spacing: 10px;
}
/* div[data-testid="stVerticalBlock"].css-f64nwk.e1tzin5v0{
  flex-direction: row;
} */

 /* header, footer and main menu */

header.css-18ni7ap.e8zbici2 {
  background-image: linear-gradient(to left, #73AB84, #FFD400, #F72C25);
}

footer{
  visibility: hidden;
}

#MainMenu {
  visibility: hidden;
}
